*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.buttonContainer{
    position: relative;
    overflow: hidden;
    height:80px;
}
.button{
    height: 80px;
    background: #6610f2;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
h3{
    font-weight: 400;
    font-size: 16px;
}
#button{
    height: 80px;
    background: #6610f2;
    width: 270px;
    border-radius: 5px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 10px 20px rgba(102,16,242,0.3);

}
.parcelTruck{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#truck,#package{
    position: absolute;
}
hr{
    width: 100%;
    border: 2px solid black;
}
#truck{
    height: 45px;
}
#package{
    height: 18px;
}